.labelActive {
  transform: translateY(-50%);
  z-index: 4;
  color: grey;
}

.labelPassive {
  color: black;
  transform: translateY(50%);
  z-index: 4;
}

.labelOk {
  color: limegreen;
  transform: translateY(-50%);
  z-index: 4;
}

.labelNotOk {
  color: red;
  transform: translateY(-50%);
  z-index: 4;
}

.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
  font-family: 'Arial';
  margin: 1rem 0;
}

.containerInput,
.containerTextarea {
    position: relative;
    background: white;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  align-content: center;
}

.containerInput::before,
.containerTextarea::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 1rem;
  background: transparent;
  filter: blur(10px);
}

@media screen and (min-width: 500px) {
    .containerInput,
    .containerTextarea {
    width: calc(50% - 0.5rem);
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 499px) {
    .containerInput,
    .containerTextarea {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

.containerTextarea {
  width: 100%;
}

.containerInput label,
.containerTextarea label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
    color: black;
  transition: 0.5s;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 0 0 0.25rem;
}

.containerInput input,
.containerTextarea textarea {
  background: transparent;
  outline: none;
  z-index: 3;
  transition: 0.5s;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Arial';
  flex: 1;
  background: white;
  padding: 2.5rem 1rem 1rem 1rem;
  margin: 0.25rem;
  color: black;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

.containerTextarea textarea {
  min-height: 24ch;
  resize: vertical;
}

.buttonContainer{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button{
  background: var(--secondaryColor);
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  font-weight: bolder;
  margin: 1rem 0;
  border: 0;
  outline: 0;
  box-shadow: 0px 2px 5px -1px black;
}

.button:hover{
  cursor: pointer;
}

.button:active{
  transform:scale(0.99,0.99);
  box-shadow: 0px 1px 5px -1px black;
}