.container{
    position: relative;
    width: 100%;
}

.cardContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.card{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    aspect-ratio: 4/3;
    box-shadow: 0px 2px 5px -2px black;
}

.image{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
}

.title{
    position: relative;
    width: 100%;
}

.info{
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.title{
    position: relative;
    width: 100%;
    margin: 0;
    font-weight: bolder;
}

.name{
    position: relative;
    width: 100%;
    margin: 0;
}