.container{
    position: relative;
    width: 100%;
}

.cardContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

@media screen and (max-aspect-ratio: 13/9){
    .cardContainer{
        grid-template-columns: 1fr 1fr;
    }
}

.cardTop{
    background: var(--mainColor);
    padding: 0.5rem;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 2rem 0 0 0;
}

@media screen and (max-aspect-ratio: 13/9){
    .image{
        margin: 1rem 0 0 0;
    }
}

.title{
    position: relative;
    width: 100%;
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
    
}

.info{
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.title{
    position: relative;
    width: 100%;
    margin: 0;
    font-weight: bolder;
}

.name{
    position: relative;
    width: 100%;
    margin: 0;
}