.container{
    position: relative;
    width: 100%;
}

.cardContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.cardTop{
    background: light-dark(var(--mainColor), var(--titleOnMainColor));
    padding: 0.5rem;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.imageItem{
    object-fit: cover;
}

.title{
    position: relative;
    width: 100%;
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
    color: light-dark(var(--titleOnMainColor), var(--mainColor));
}

.content{
    position: relative;
    display: grid;
    grid-template-columns: 7rem 1fr;
    padding: 1rem 0;
}

.info{
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    color: var(--generalFontColor);
}

.info p{
    margin: 0;
}

.title{
    position: relative;
    width: 100%;
    margin: 0;
    font-weight: bolder;
}

.name{
    position: relative;
    width: 100%;
    margin: 0;
}

.iconContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}