.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid{
    margin: 1rem 0.12rem;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

@media only screen and (max-aspect-ratio: 13/9){
    .grid{
        width: 100%;
        grid-template-columns: repeat(1fr, 1fr);
    }
  }

.itemFrame{
    position: relative;
    height: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemFrame:hover{
    cursor: pointer;
}

.itemContainer{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}