.nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    background: light-dark(var(--secondaryColor), var(--backgroundColor));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    filter: var(--navFilter);
}

.logoContainer{
    position: relative;
    height: 10vh;
    aspect-ratio: 1.5/1;
    margin: 0 0.5vh 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.logoContainer2{
    position: relative;
    height: 10vh;
    aspect-ratio: 1.5/1;
    margin: 0 0.5vh 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(var(--secondaryColor), var(--backgroundColor));
    border-bottom-right-radius: 25%;
}

.logoInner{
    width: 90%;
    height: 90%;
    position: relative;

}

.logo{
    position: relative;
}

.tagline{
    position: relative;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: light-dark(white, var(--generalFontColor));
}

.container{
    position: relative;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.surLinkContainer{
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surLinkContainer:hover{
    cursor: pointer;
}

.subLinkContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: light-dark(var(--secondaryColor), var(--backgroundColor));
    background-attachment: fixed;
    z-index: -1;
    
}

.buffer{
    position: relative;
    width: 100%;
    height: 3rem;
    
}

.content{
   position: relative;
    width: 100%;
  z-index: -1;
}

.items{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.link{
    margin: 0 1vw;
    color: light-dark(white, var(--generalFontColor));
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sublink {
    color: light-dark(white, var(--generalFontColor));
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: light-dark(green, black);
    padding: 1rem 2rem;
    text-decoration: none;
}

.sublink:last-child{
    border:none;
}

.sublink:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.toggleMode{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    color: light-dark(white, var(--generalFontColor));
}

.toggleMode:hover{
    cursor: pointer;
}