.image{
    position: relative;
    width: 25vw;
    aspect-ratio: 3/4;
}

.hero{
    position: relative;
    width: 100%;
    background-color: yellow;
    opacity: 0.7;
}

.title{
    position: relative;
    width: 100%;
    text-align: center;

}

.date{
    position: relative;
    width: 100%;
    text-align: center;
    
}