.heading{
    position: relative;
    width: 100%;
    margin: 5vh 0 0 0;
    font-size: 2rem;
}



.headerImage{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 15vw;
  }

  @media screen and (max-aspect-ratio: 13/9){
    .heading{
        margin: 10vw 0 0 0;
    }
    .headerImage{
        height: 10vh;
    }
}