.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem;
    padding: 0 0 0.5rem ;
    background: black;
}

@media screen and (max-aspect-ratio: 13/9){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

.item{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    aspect-ratio: 21/9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(var(--mainColor), black);
    flex-wrap: wrap;
    text-decoration: none;
    transition: 0.1s;
    border: 2px solid #FFD730;
}

@media screen and (max-aspect-ratio: 13/9){
    .item{
        aspect-ratio: 4/3;
    }
}

.item:hover{
    background: light-dark(yellow, transparent);
    filter:brightness(150%);
}

.icon{
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: light-dark(black, var(--mainColor));
}

.icon svg{
    position: relative;
    width: 100%;
    height: 100%;
}

.name{
    position: relative;
    width: 100%;
    height: 30%;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: light-dark(black, #FFD730);
    hyphens: auto;
}

@media screen and (max-aspect-ratio: 13/9){
    .name{
        font-size: 1rem;
    }
}