.footer{
    position: relative;
    width: 100%;
    background: black;
    padding: 1rem 0;
    color: var(--mainColor);
}

.copyright,
.shamelessPlug,
.mail{
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.shamelessPlug a,
.mail a{
    text-decoration: none;
    color: var(--mainColor);
}

.mail{
    margin: 1rem 0;
}

.links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.links a{
    position: relative;
    width: 100%;
    text-decoration: none;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail a:hover,
.links a:hover,
.shamelessPlug a:hover{
    color: yellow;
}