.footer{
    position: relative;
    width: 100%;
    background: black;
    padding: 1rem 0;
    color: var(--mainColor);
}

.copyright{
    position: relative;
    width: 100%;
    text-align: center;
}

.shamelessPlug{
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--mainColor);
}

.shamelessPlug a{
    text-decoration: none;
    color: var(--mainColor);
}