.footer{
    position: relative;
    width: 100%;
    background: black;
    padding: 1rem;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copyright,
.mail,
.link{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 1rem;
}

.mail a,
.link a{
    text-decoration: none;
    color: var(--mainColor);
}

.mail a:hover,
.link a:hover{
    color: yellow;
}