.container{
    position: relative;
    width: 100%;
    aspect-ratio: 30/10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.entry{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 21/10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;
}

.time{
    position: relative;
    width: 100%;
    font-weight: lighter;
    font-style: italic;
    margin: 0 0 0.5rem 0;
}

.message{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.reactions{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
}