.container{
    position: relative;
    width: 100vw;
    aspect-ratio: 30/10;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-aspect-ratio: 13/9){
    .container{
        aspect-ratio: 3/4;
    }
}