.overlay{
    z-index: 100;
    transform: translateX(-50%);
    background: white;
}

.cardTop{
    background: light-dark(var(--mainColor), var(--titleOnMainColor));
    padding: 0.5rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: light-dark(var(--titleOnMainColor), var(--mainColor));
}

.close{
    position: relative;
    width: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.close:hover{
    cursor: pointer;
}

.content{
    position: relative;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.location{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.name{
    position: relative;
    width: 100%;
    font-weight: bolder;
}

.place{
    position: relative;
    width: 100%;
}

.more{
    position: relative;
    width: 100%;
}

.marker svg g path{
    fill: light-dark(var(--secondaryColor), black);
    stroke: light-dark(black, var(--secondaryColor));
}
.marker svg g circle{
    fill: light-dark(white, var(--secondaryColor));
}

.mapLayer{
    background: black;
    filter: var(--mapFilter);
}