.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
    margin: 1rem 0;
}

@media screen and (max-aspect-ratio: 13/9){
   .container{
    grid-template-columns: 1fr;
   }
}