.title{
    position: relative;
    width: 100%;
    font-weight: bolder;
    font-size: 1.25rem;
    text-align: left;
}

.iconRow{
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.iconRowItem{
    height: 100%;
    aspect-ratio: 1/1;
    background: white;
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    position: relative;
    width: 75%; 
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: relative;
    width: 100%;
    aspect-ratio: 21/10;
}

.data{
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    margin: 1rem 0 0 0;
}

.table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tableRow{
    border: 2px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.tableRow td{
    padding: 1rem 0.5rem;
}

.key{
    font-weight: bolder;
}