.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gun{
    position: relative;
    height: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash{
    position: relative;
    flex-grow: 1;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inner{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    margin: 0 3rem;
}

.target{
    position: relative;
    height: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}